body {

    padding: 50px 20%;

}

p {
   color: darkslategrey;
   font-family: Georgia, serif;
    text-align: justify;
    font-style: italic;

}
h1 {
    color: plum;
    text-align: center;


}

h2 {
    color: plum;
    text-align: right;
    text-decoration: underline;

}


h3{
    color: plum;
    text-align: center;


}

hr {border: lightslategray dotted;
    width: 50%;


}

strong {

    color: plum;

}