body {
    padding-left: 20%;
    padding-right: 20%;

}

p {
   color: darkslategrey;
   font-family: Georgia, serif;

}
h1 {
    color: plum;
    text-align: center;


}

h2 {
    color: plum;
    text-align: right;
    text-decoration-line: underline;

}





h3{
    color: plum;
    text-align: center;


}

hr {border: lightslategray dotted;
    width: 50%;


}

strong {

    color: plum;

}